/* big laptops to 1200px (widths smaller than the 1600px row) */
@media only screen and (max-width: 1599px){
    .title{
        font-size: 32pt;
    }
    .title::after{
        width: 200px;
    }
    .about-text h3{
        font-size: 2.1rem;
    }
    .about-text p{
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 1.1px;
    }
    .card{
        width: 200px;
        height: 250px;
    }
    .projects .box{
        width: 360px;
        margin: 2rem 1.4rem; 
    }
}

/* big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1399px){
    .title{
        font-size: 30pt;
    }
    .title::after{
        width: 200px;
    }
    .about-text h3{
        font-size: 1.8rem;
    }
    .about-text p{
        font-size: 1rem;
        line-height: 1.6rem;
        letter-spacing: 1px;
    }
    .card{
        width: 200px;
        height: 220px;
    }
    .projects .box{
        width: 300px;
        margin: 2rem 1.4rem; 
    }
    .projects .box .content{
        width: 300px;
    }
    .projects .box .content .text-content h2{
        font-size: 1.4em;
    }
    .projects .box .content .text-content a{
        font-size: 1.1rem;
    }
}

/* big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1199px){
    .about-text h3{
        font-size: 1.5rem;
    }
    .about-text p{
        font-size: 0.9rem;
        line-height: 1.4rem;
        letter-spacing: 1px;
    }
    .card{
        width: 200px;
        height: 200px;
    }
    .percent .number h2{
        font-size: 36px;
    }
    .text {
        top: 0.6rem;     
        font-size: 18px;
    }
    .projects .box{
        width: 280px;
        margin: 2rem 1rem; 
    }
    .projects .box .content{
        width: 300px;
    }
    .projects .box .content .text-content h2{
        font-size: 1.4em;
    }
    .projects .box .content .text-content a{
        font-size: 1.1rem;
    }
}

/* small tablet to big tablet : from 768 to 1023px */
@media only screen and (max-width: 1023px){
    
}

/* small phone to small tablets : form 481px to 767px */
@media only screen and (max-width: 767px){
     
}

/* small phones from 0 to 480px */
@media only screen and (max-width: 423px){

}

/* very small phones from 0 to 480px */
@media only screen and (max-width: 319px){

}