/* fonts */
@font-face {
    font-family: 'roboto';
    font-family: 'Roboto-Bold';
    font-family: 'Roboto-Black';
    font-family: 'Roboto-Light';
    src: url(../../fonts/roboto/Roboto-Regular.ttf);
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
    src: url(../../fonts/roboto/Roboto-Black.ttf);
    src: url(../../fonts/roboto/Roboto-Light.ttf);
}
/* font classes */
.roboto{
    font-family: 'roboto';
}
.roboto-light{
    font-family: 'Roboto-Light';
}
.roboto-bold{
    font-family: 'Roboto-Bold';
}
/* general styles */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: rgb(34, 34, 58);
}
.container{
    width: 80%; 
    margin: 0 auto; 
}
/*________________________________________________ HEADER ______________________________________*/
header{
    width: 100%;
    height: 100vh;
    background-image: url(image/bg.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav ul li a{
    position: relative;
    display: inline-block;
    padding: 10px 22px;
    color: #2196f3; 
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
nav ul li a:hover{
    color: #255784; 
    background: #2196f3; 
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; 
    transition-delay: 1s;
}
nav ul li a span{
    position: absolute;
    display: block;
}
nav ul li a span:nth-child(1){
    top: 0; 
    left: -100%; 
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
nav ul li a:hover span:nth-child(1){
    left: 100%; 
    transition: 1s;
}
nav ul li a span:nth-child(3){
    bottom: 0; 
    right: -100%; 
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
nav ul li a:hover span:nth-child(3){
    right: 100%; 
    transition: 1s;
    transition-delay: 0.5s;
}
nav ul li a span:nth-child(2){
    top: -100%; 
    right: 0; 
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, #2196f3);
}
nav ul li a:hover span:nth-child(2){
    top: 100%; 
    transition: 1s;
    transition-delay: 0.25s;
}
nav ul li a span:nth-child(4){
    bottom: -100%; 
    left: 0; 
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, #2196f3);
}
nav ul li a:hover span:nth-child(4){
    bottom: 100%; 
    transition: 1s;
    transition-delay: 0.75s;
}
.master-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.master-text{
    font-size: 40pt; 
    font-weight: 600;
    color: rgb(243, 243, 243);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.text{
    font-size: 18;
    font-family: 'Roboto-Light';
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 3px;
    color:rgb(240, 240, 240);
    margin-top: 1rem;
}
.btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 155px;
    height: 50px;
    margin-top: 20px;
}
.btn a{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff; 
    z-index: 1; 
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s; 
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Roboto-Light';
    backdrop-filter: blur(10px);
}
.btn:hover a{
    letter-spacing: 4px;
}
.btn a::before{
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 50%; 
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.btn:hover a::before{
   transform: skewX(45deg) translateX(200%); 
}
.btn::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 30px;
    height: 10px;
    background: rgb(62, 183, 253);
    border-radius: 10px;
    transition: 0.5s;
}
.btn:hover::before{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
/*________________________________________________ ABOUT ______________________________________*/
.about{
    width: 100%;
}
.title{
    font-size: 36pt;
    font-family: 'Roboto-Light';
    font-weight: 600;
    text-align: center;
    color:rgba(246, 246, 246, 0.7);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 1rem 0;
}
.my-image{
    display: inline-block;
    width: 26%;
    border-radius: 3px;
    margin-right: 1rem;
}
.about-text h3{
    font-size: 2.4rem;
    font-family: 'Roboto-Light';
    font-weight: 500;
    color: rgb(167, 167, 212);
}
.about-text p{
    font-size: 1.4rem;
    font-family: 'Roboto-Light';
    line-height: 2.2rem;
    color: rgb(209, 209, 209);
    margin-top: 1rem;
    letter-spacing: 2px;
}
.myname{
    font-weight: 600;
    color:rgb(41, 150, 223);
}